/* @import '~quasar/dist/quasar.css'; */

$primary: #ffaf37;
$secondary: #e4842a;
$accent: #0084ff;

$dark: #000000;
$dark-page: #3d627e;

$positive: #317eec;
$negative: #FF5852;
$info: #2fd8fa;
$warning: #ffc830;

@import '~quasar/src/css/index.sass';
