/* @import '~quasar/dist/quasar.css'; */

$primary: #ff2644;
$secondary: #ff257e;
$accent: #ffc5e6;

$dark: #d60000;
$dark-page: #3d627e;

$positive: #317eec;
$negative: #FF5852;
$info: #2fd8fa;
$warning: #ffc830;

@import '~quasar/src/css/index.sass';
